body{
    background-color: #cee4e2;
}

h1.base{
    text-align: center;
    background-color: #327973;
    color: white;
}

h3{
    text-align: center;
}


h4.bottom{
    text-align: center;
    background-color: #3fa8a0;
    color: white;
}


h5{
    text-align: center;
}

p{
    color: rgb(70, 70, 70);
    text-indent: 3%;
}

p.centered{
    text-align: center;
}

table.target, tr.target{
    background-color: aliceblue;
    border: 1px solid darkgray;
    margin-left: auto;
    margin-right: auto;
}

tr.head{
    padding-top: 5px;
    padding-bottom: 5px;
}

th.dom{
    padding-left: 20px;
}

th.freq{
    text-align: center;
}

td.dom{
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}

td.freq{
    text-align: center;
}


table.target {
    width: 50%;
}

img{
    border: 1px solid darkgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img.logo{
    width: 400px;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 130px;

}

img.excel{
    width: 85%;
}

div.instructions{
    padding: 0.01em 16px;
    width: 800px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}