{% extends "base.html" %}
{% block title %}CMA Home Page{% endblock %}
{% block content %}
<image class="logo" src="{{ url_for('static', filename='images/Logo_main.png') }}"></image>
<br>
<h3>How does the Cognitive Metaphor Graph Generator work?</h3>
<div class="instructions">
<p>The 'mechanism' is quite simple:</p>
<ol>
    <li>Please click 'Upload' on the navbar</li>
    <li>You will be moved to the upload page (who could expect that). Please upload an <b>.xls</b> file there. Requirements:</li>
<image class="excel" src="{{ url_for('static', filename='images/excel.jpg') }}"></image>
    <li>What's important when creatng the Excel file:</li>
    <ul>
        <li>Column A: phrase - free formatting </li>
        <li>Column B: just a target domain</li>
        <li>Column C: just a source domain</li>
        <li>Column D: abstractness. Please format as follows:</li>
        <ul>
            <li>A - an abstract domain; C - a concrete domain</li>
            <li>First letter: target domain; Second letter: source domain</li>
        </ul>
    </ul>
    <li>After a successful upload, you will be redirected to the tables and graphs section</li>
    <li>The program will generate frequency data</li>
</ol>

<br>
<p><b>Temporary:</b> Please upload the .xls file as Book1.xls</p>
</div>

<br>
<h4 class="bottom">Shout-out to Victoria Połetek for her constant support in implementing this project!</h4>
{% endblock %}